/*************** Tag Selector ***************/
body {
  margin: 0;
  text-align: center;
  font-family: 'Muli';
  font-size: 20px;
}

h1 {
  font-family: 'Sacramento';
  font-size: 100px;
  margin: 0 auto 0 auto;
}

h2{
  font-family: 'Nunito';
  font-weight: bolder;
  font-size: 50px;
  margin: 20px auto 0 auto;
}

h3{
  color: #BC8346;
  margin: 0;
}

a{
  color: #644422;
}

hr{
  border-style: none;
  border-bottom: 5px dotted;
  width: 20%
}
/*************** Class Selector ***************/
.top-container{
  background-color: aliceblue;
  position: relative;
  padding-top: 200px;
}

.bottom-container{
  background-color: #FAE19E;
  word-spacing: 30px;
  padding-top: 20px;
}

.alias{
  margin: 0 auto 0 auto;
  font-family: 'Muli';
  font-size: 30px;
}

.top-flower{
  position: absolute;
  height: 30%;
  top: 50px;
  right: 20%;
}

.bottom-flower{
  position: absolute;
  height: 20%;
  top: 20%;
  left: 20%;
}

.flowers{
  bottom: 50px;
  width: 100%
}

.profile-pic{
  width: 300px;
}

.dashboard{
  width: 20%;
  float: left;
  margin: 10px 20px auto auto;
}

.python{
  width: 20%;
  float: left;
  margin: 10px 20px auto auto;
}

.sql{
  width: 15%;
  float: left;
  margin: 8px 40px auto 20px;
}

.skill-row{
  width: 70%;
  margin: 40px auto 0 auto;
  text-align: left;
  line-height: 1.5;
}

.contact-me{
  line-height: 2;
}

.footer-link{
  font-family: 'Nunito';
  font-weight: bold;
  text-decoration: none;
  word-spacing: 30px;
}

.copyright{
  word-spacing: 0;
}

.BUTTON_ISK {
   background: #56B4F0;
   background-image: -webkit-linear-gradient(top, #56B4F0, #56B4F0);
   background-image: -moz-linear-gradient(top, #56B4F0, #56B4F0);
   background-image: -ms-linear-gradient(top, #56B4F0, #56B4F0);
   background-image: -o-linear-gradient(top, #56B4F0, #56B4F0);
   background-image: linear-gradient(to bottom, #56B4F0, #56B4F0);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   color: #FFFFFF;
   font-family: Open Sans;
   font-size: 40px;
   font-weight: 100;
   padding: 40px;
   box-shadow: 1px 1px 20px 0px #000000;
   -webkit-box-shadow: 1px 1px 20px 0px #000000;
   -moz-box-shadow: 1px 1px 20px 0px #000000;
   text-shadow: 1px 1px 20px #000000;
   border: solid #337FED 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.BUTTON_ISK:hover {
   border: solid #000000 1px;
   background: #CFCA8E;
   background-image: -webkit-linear-gradient(top, #CFCA8E, #73704B);
   background-image: -moz-linear-gradient(top, #CFCA8E, #73704B);
   background-image: -ms-linear-gradient(top, #CFCA8E, #73704B);
   background-image: -o-linear-gradient(top, #CFCA8E, #73704B);
   background-image: linear-gradient(to bottom, #CFCA8E, #73704B);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}
