/*************** Tag Selector ***************/
body {
  margin: 0;
  text-align: center;
  font-family: 'Raleway';
  font-size: 20px;
}

h1 {
  font-family: 'Sacramento';
  font-size: 100px;
  margin: 0 auto 0 auto;
}

h2{
  font-family: 'Dancing Script';
  font-weight: 600;
  font-size: 50px;
  margin: 0 auto 0 auto;
}

h3{
  color: #BC8346;
  margin: 0;
}

a{
  color: #644422;
}

hr{
  border-style: none;
  border-bottom: 5px dotted #C6DA9A;
  width: 20%;
  margin: 30px auto;
}

/* Top Container */
.top-container{
  background-color: aliceblue;
  position: relative;
  padding-top: 200px;
}

.alias{
  margin: 0 auto 0 auto;
  font-family: 'Muli';
  font-size: 30px;
}

.top-flower{
  position: absolute;
  height: 30%;
  top: 50px;
  right: 20%;
}

.bottom-flower{
  position: absolute;
  height: 20%;
  top: 20%;
  left: 20%;
}

.flowers{
  bottom: 50px;
  width: 100%
}

/* Middle container */
.middle-container{
  margin: 100px 0 25px 0;
}

.profile-pic{
  width: 300px;
}

.dashboard{
  width: 20%;
  float: left;
  margin: 10px 20px 30px auto;
}

.python{
  width: 20%;
  float: left;
  margin: 10px 20px 30px auto;
}

.sql{
  width: 15%;
  float: left;
  margin: 8px 40px auto 20px;
}

.skill-row{
  width: 70%;
  margin: 40px auto 0 auto;
  text-align: left;
  line-height: 1.5;
}

.contact-me{
  line-height: 2;
}

/* Bottom Container */
.bottom-container{
  background-color: #FAE19E;
  word-spacing: 30px;
  padding: 20px 0 5px 0;
}

.footer-link{
  font-family: 'Raleway';
  font-weight: bold;
  text-decoration: none;
  word-spacing: 30px;
}

.footer-link:hover{
  color: white
}
.copyright{
  word-spacing: 0;
  font-family: 'Nunito';
  font-size: 0.75REM;
  padding-top: 20px;
}

.btn {
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 20px;
   color: #FFFFFF;
   font-family: 'Raleway';
   font-size: 15px;
   font-weight: 100;
   padding:7px;
   background-color: #8f8f8f;
   text-shadow: 1px 1px 20px #3B3423;
   border: solid #2C2C2C 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.btn:hover {
   background: #CCBC5D;
   border: solid #CCBC5D 1px;
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}
