/* Overall Website */
body {
  margin: 0;
  text-align: center;
  font-family: 'Muli';
  font-size: 20px;
}

/* Landing Page */
#top-container{
  background-color: aliceblue;
  text-align: center;
  padding: 200px 0 0 0;

}
.intro {
  font-family: 'Sacramento';
  font-size: 8rem;
  font-weight: bold;
  margin: 5px auto 0 auto;
}
.alias{
  margin: 0 auto 0 auto;
  font-family: 'Muli';
  font-size: 30px;
}
.top-flower{
  position: absolute;
  height: 40%;
  top: 7%;
  right: 15%;
}
.bottom-flower{
  position: absolute;
  height: 25%;
  top: 20%;
  left: 20%;
}
.flowers{
  bottom: 50px;
  width: 100%
}

/* Profile Section */
.middle-container{
  margin: 100px 0 25px 0;
  text-align: center;
}
.skill-row{
  width: 70%;
  margin: 50px auto 0 auto;
  text-align: left;
  line-height: 1.5;
}
.profile-hd{
  font-family: 'Nunito';
  font-weight: bold;
  font-size: 50px;
  margin: 20px auto 10px auto;
}
.text{
  font-family: 'Muli';
  font-size: 1.1rem;
}
.divider{
  border-style: none;
  border-bottom: 5px dotted #C6DA9A;
  width: 20%;
  margin: 50px auto;
}
.sub-head{
  font-family: 'Muli';
  color: #BC8346;
  font-weight: bold;
  margin-bottom: 5px;
}
.profile-pic{
  width: 300px;
}
.dashboard{
  width: 20%;
  float: left;
  margin-right: 20px;
}
.sql{
  width: 13%;
  float: left;
  margin: 5px 55px auto 30px;
}
.python{
  width: 20%;
  float: left;
  margin: 10px 25px auto auto;
}

.contact-me{
  line-height: 4;
}
/* Footer Section */
.bottom-container{
  background-color: #FAE19E;
  word-spacing: 30px;
  padding: 20px 0 5px 0;
  text-align: center;
}
.footer-link{
  font-family: 'Nunito';
  color: #644422;
  font-weight: bold;
  text-decoration: none;
  word-spacing: 30px;
}
.footer-link:hover{
  color: white
}
.copyright{
  word-spacing: 0;
  font-family: 'Nunito';
  font-size: 0.75REM;
  padding-top: 20px;
}
